<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 my-5">
          <h1 class="display-3 text-center my-3">Agenda</h1>
          <p class="text-center lead">Seus contatos estão aqui!</p>
          <div class="row">
            <div class="col">
              <div class="alert alert-danger">Um erro</div>
            </div>

          </div>
          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td>teste</td>
                <td>teste</td>
                <td>rtyu</td>
                <td>tyhujk</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>